.call_to_action {
    background: $desaturated-blue;
    padding: 1.5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    .text_container {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        h2 {
            font-family: Raleway, sans-serif;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: .75rem;

        .email {
            padding: .75rem;
            border: none;
            box-shadow: rgba(54, 54, 54, 0.5) 0px 8px 24px;
            border-radius: .25rem;
            font-family: inherit;
        }

        .submit {
            cursor: pointer;
            padding: .75rem;
            font-family: inherit;
            background: $bright-blue;
            border: none;
            border-radius: .25rem;
            color: #fff;
            font-weight: 700;
            box-shadow: rgba(71, 71, 71, 0.5) 0px 8px 24px;

            &:hover {
                background: hsl(224, 100%, 69%);
                transition: 0.2s;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .call_to_action {
        margin-top: 3rem;
        padding: 6rem 9rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .text_container {
            width: 50%;
            text-align: start;
        }

        form {
            width: 35%;

            .submit {
                width: 60%;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .call_to_action {
        .text_container {
            width: 30%;

            h2 {
                font-size: 2rem;
            }
        }
        
        form {
            width: 30%;
        }
    }
}