@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: Open Sans, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  width: 5rem;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

header nav ul a {
  text-decoration: none;
  cursor: pointer;
  color: #070439;
}

@media screen and (min-width: 1024px) {
  header {
    padding: 3rem 9rem;
  }
  header img {
    width: 7.5rem;
  }
  header nav ul {
    gap: 3rem;
  }
}

.main_image_wrapper {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.main_image_wrapper main {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.main_image_wrapper main h1 {
  font-family: Raleway, sans-serif;
  color: #070439;
}

.main_image_wrapper main p {
  color: #070439;
  font-weight: 400;
}

.main_image_wrapper main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .75rem;
}

.main_image_wrapper main form .email {
  padding: .75rem;
  border: 1px solid #070439;
  border-radius: .25rem;
  font-family: inherit;
}

.main_image_wrapper main form .submit {
  cursor: pointer;
  padding: .75rem;
  font-family: inherit;
  background: #3065f8;
  border: none;
  border-radius: .25rem;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

@media screen and (min-width: 1024px) {
  .main_image_wrapper {
    padding: 3rem 9rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_image_wrapper img {
    width: 50%;
  }
  .main_image_wrapper main {
    text-align: start;
    width: 40%;
    gap: 1.5rem;
  }
  .main_image_wrapper main form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .main_image_wrapper img {
    width: 50%;
  }
  .main_image_wrapper main {
    width: 50%;
  }
  .main_image_wrapper main h1 {
    font-size: 2.5rem;
  }
  .main_image_wrapper main form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */